.main{
    height:100vh;
    max-width:100vw;
}
.bg img{
    height:100vh;
    width:100%;
    position: absolute;
}
.toys img{
    position:absolute;
    height: 20%;
    margin-top: 30%;
    // left: 20vw;
}
.i0{
    margin-left:40%;
}
    #div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }