<div class="main">
    <div class="board">
        <div class="title">
            <!-- <img class="" src="../../assets/images/jeopardy.png"> -->
        </div>
        <div class="topics">
            <div class="topic"*ngFor = "let x of [1, 2, 3]"></div>
        </div>
        <div class="options">
            <div class="rows" *ngFor = "let x of [1, 2, 3]">
                <div class="option"*ngFor = "let y of [1, 2, 3]" (click) = "question(x, y)">
                    {{x}} {{y}}
                </div>
            </div>
        </div>
       
    </div>
    <div *ngIf = "popup" class="loader" (click) = "popup = false;stopmusic();">
        <model-viewer  interaction-policy="allow-when-focused" style="margin-left:13%"camera-controls src="./assets/images/jeopardy/scene.gltf" auto-rotate rotation-per-second="70deg">
            <!-- <div style = "z-index: 1000; position: absolute; top: 0; left: 0; height: 10vh; width: 10vw; background-color: aqua;"></div> -->
          </model-viewer>
          <div class="text">JEOPARDY!</div>
          <h1>This is Jeopardy!</h1>
         <audio autoplay="true" preload="auto" src="./../../assets/audio/Jeopardyintro.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <!-- <h2> Today's contestants are V A and J</h2> -->
    </div>

    <div class = "question">
        
    </div>
</div>
