<div class="main">
  <div class="left">
    <model-viewer camera-controls src="./assets/images/plant/ThePlant/scene.gltf" auto-rotate>
      <!-- <div style = "z-index: 1000; position: absolute; top: 0; left: 0; height: 10vh; width: 10vw; background-color: aqua;"></div> -->
    </model-viewer>
    <model-viewer camera-controls src="./assets/images/plant/ThePlant/scene.gltf" auto-rotate>
      <!-- <div style = "z-index: 1000; position: absolute; top: 0; left: 0; height: 10vh; width: 10vw; background-color: aqua;"></div> -->
    </model-viewer>
    <model-viewer camera-controls src="./assets/images/plant/ThePlant/scene.gltf" auto-rotate>
      <!-- <div style = "z-index: 1000; position: absolute; top: 0; left: 0; height: 10vh; width: 10vw; background-color: aqua;"></div> -->
    </model-viewer>
    
  </div>
  <!-- <div class="write"><p>HELLO I CAN WRITE HERE</p></div> -->
</div>