.forgotPassword{
    display: flex;
   
   
    justify-content: space-evenly;
    margin: 10px;
    background: rgba( 189, 16, 224, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30vw;
    height: 40vh;
    align-items: center;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  }

  .card-title{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .btn-submit {
    margin: 10px;
    flex-direction: column;
    background-color: #ff6666;
    color: #fff;
    border: 2px solid transparent;
}
 
.btn-submit:hover, .heart-bit-neon:focus {
    background-color: #ff6666;
    color: #fff;
    -webkit-animation: heartBit 1.2s infinite;
            animation: heartBit 1.2s infinite;
}
.text-email{
    background: transparent;
    border:transparentize($color: #e99898, $amount: 1);
}